@media (max-width: 1024px) {
    .navigation {
        position: relative;
        justify-content: space-between;
        padding-bottom: 460px;
    }
    .navigation__links {
        position: absolute;
        top: 18%;
        right: 20%;
    }
    .header__slider {
        top: 30%;
        left: 10%;
        max-width: 840px;
        width: 100%;
    }
    .swiper__description-wrapper {
        width: 60%;
        right: 5%;
    }
    .swiper__title {
        font-weight: 600;
    }
    .swiper__title, .swiper__text {
        font-size: 54px;
    }

    .features__items {
        justify-content: space-between;
    }
    .delivery__container {
        max-width: 820px;
        left: 8%;
    }
    .news__container {
        max-width: 1024px;
    }
    .news__cards {
        max-width: 960px;
    }
    .news__card {
        width: 290px;
    }
    .feedback__inputs-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
    }
    .inputs__container {
        flex-direction: column;
        margin-bottom: 0;
    }
    .feedback__label {
        margin-bottom: 30px;
    }
    .feedback__message {
        height: 180px;
        margin-bottom: 18px;
        margin-right: 40px;
    }
    .footer__navigation-container {
        justify-content: space-around;
    }
}

@media (max-width: 760px) {
    .navigation {
        justify-content: space-around;
        margin-bottom: 0;
    }
    .navigation__links {
        display: none;
    }
    .navigation__burger {
        display: flex;
        flex-direction: column;
    }
    .navigation__burger span {
        width: 34px;
        height: 3px;
        background: #fff;
        margin-bottom: 9px;
    }
    .navigation__burger span:last-child {
        margin-bottom: 0;
    }
    .header__slider {
        width: 700px;
        top: 45%;
        left: 4%;
    }
    .swiper__description-text {
        display: none;
    }
    .swiper__description-wrapper {
        padding: 15px;
        width: 10%;
        right: 45%;
    }
    .swiper__description-icon {
        margin: 0;
    }
    .swiper__title, .swiper__text {
        font-size: 44px;
    }
    .features__items {
        flex-direction: column;
    }
    .features__item {
        margin-bottom: 30px;
    }
    .content__container {
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        margin: 100px auto 800px;
    }
    .title-wrapper {
        margin-bottom: 60px;
        margin-right: 0;
    }
    .delivery__container {
        max-width: 640px;
        flex-direction: column;
    }
    .delivery__head-wrapper {
        width: 100%;
        align-items: center;
    }
    .delivery__title-wrapper {
        margin-bottom: 0;
    }
    .delivery__title {
        font-size: 48px;
    }
    .delivery__price-wrapper {
        justify-content: center;
    }
    .delivery_price-large {
        font-size: 100px;
    }
    .delivery__form-wrapper {
        padding-bottom: 40px;
    }
    .news__container {
        max-width: 760px;
        padding: 20px;
    }
    .news__links {
        margin-right: 0;
    }
    .news__cards {
        max-width: 720px;
    }
    .news__card .slick-slide .slick-active {
        width: 340px;
    }
    .feedback__inputs-wrapper {
        padding: 0 40px;
    }
    .feedback__message {
        margin-left: 40px;
        margin-right: 0;
    }
}

@media (max-width: 320px) {
    .navigation {
        padding-bottom: 340px;
    }
    .navigation__logo {
        width: 60%;
    }
    .contact__tel {
        display: none;
    }
    .contact__button {
        border-radius: 50%;
        width: 37px;
        height: 37px;
        padding: 0;
    }
    .contact__icon {
        margin-top: 0;
        margin-right: 0;
    }
    .contact__button span {
        display: none;
    }
    .header__slider {
        width: 280px;
    }
    .swiper__image {
        height: 300px;
    }
    .swiper-link-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .swiper__title, .swiper__text {
        font-size: 20px;
    }
    .swiper__description-wrapper {
        width: 30%;
        right: 35%;
    }
    .content__container {
        max-width: 320px;
    }
    .content__title {
        font-size: 40px;
        line-height: 40px;
    }
    .delivery_price-large {
        font-size: 50px;
    }
    .delivery__container {
        max-width: 320px;
        left: 0;
    }
    .delivery__form {
        width: 280px;
    }
    .delivery__button {
        width: 100%;
        border-radius: 50px;
    }
    .news__links {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .news__cards {
        max-width: 320px;
    }
    .feedback__title {
        font-size: 40px;
        padding-left: 20px;
    }
    .feedback__inputs-wrapper {
        flex-direction: column;
    }
    .feedback__message {
        margin-left: 0;
    }
    .section__content {
        flex-direction: column;
    }
    .contacts__title {
        font-size: 46px;
    }
    .contacts__container, .map__container {
        width: 100%;
    }
    .footer__navigation-container {
        flex-direction: column;
    }
    .navigation__logo {
        margin-bottom: 30px;
    }
    .footer__text {
        margin-bottom: 10px;
    }
}